
{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class="text-center mt-4">
            <p class="alert alert-warning">CHANGE PASSWORD</p>
        </div>
        {% for i in messages %}
        <p class="alert alert-success">{{i}}</p>
        {% endfor %}
        <div class="row mt-5">
            <form method="POST" action="#">
                {% csrf_token %}
            <table class="table table-responsive">
                <tr>
                        <td> Your Old Password </td>
                        <td> 
                            <input type="password" placeholder="input old password" class="form-control">
                              </td>
                </tr>
                <tr>
                    <td> new Password </td>
                    <td> 
                        <input type="password" placeholder="enter new password you want to set" class="form-control">
                        
                    
                    </td>
                </tr>

                <tr>
                    <td> Confirm new Password </td>
                    <td> 
                        <input type="password" placeholder="confirm new password" class="form-control">
                        
                    
                    </td>
                </tr>

                
               


            </table>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">CHANGE PASSWORD</button>
            </div>
        </form>
        </div>

    </div>


    





{% endblock %}